
<a class="uw-show-on-focus" href="#main" id="uw-skip-link">Skip to main content</a>
<!-- UW navbar -->
<div class="uw-global-bar" role="navigation">
  <a class="uw-global-name-link" href="http://www.wisc.edu" aria-label="University home page">U<span>niversity <span class="uw-of">of</span> </span>W<span>isconsin</span>–Madison</a>
</div>

    <!-- branding header -->
    <header id="branding" class="uw-header uw-has-search">
      <div class="uw-header-container">
        <div class="uw-header-crest-title">
          <div class="uw-header-crest">
            <a href="{{ site.url }}{{ site.baseurl }}/"><img class="uw-crest-svg" src="{{ 'assets/images/uw-crest.svg' | relative_url}}" alt="Link to University of Wisconsin-Madison home page"></a>
          </div>
          <div class="uw-title-tagline">
            <h1 id="site-title" class="uw-site-title">
              <a href="{{ site.url }}{{ site.baseurl }}/" rel="home">{{ site.title }}</a>
            </h1>
            <div id="site-description" class="uw-site-tagline">{{ site.tagline }}</div>
          </div>
        </div>
        <div class="uw-header-search">
          <form role="search" method="get" action="" class="uw-search-form form-inline collapse">
            <label for="s" class="uw-show-for-sr-only">Search this site</label>
            <input type="text" class="uw-search-input" placeholder="Search" name="s" id="s" value="">
            <button class="unstyle uw-search-submit" type="submit">
              <svg aria-hidden="true" role="presentation" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-search"></use>
              </svg>
              <span class="uw-show-for-sr-only">Submit search</span>
            </button>
          </form>
        </div>
      </div>
    </header>


    <!-- Mobile menu button -->
    <button class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed " data-menu="uw-top-menus" aria-label="Open menu" aria-expanded="false" aria-controls="uw-top-menus">Menu<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>

    <!-- Main and secondary nav menus -->
    {% include navigation.html %}