/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

//li.uw-contact-item {
//  color: #adadad;
//}


body.fixed-top-nav {
  // Add some padding for the nav-bar.
//  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container, .uw-header-container {
  max-width: $max-content-width !important;
  padding: 0 50px;

  .carousel {
    margin: 0 -50px;
  }
}

// mobile / small styles
//
@media (max-width: 800px) {
  .container, .uw-header-container {
    max-width: $max-content-width !important;
    padding: 0 20px;

    .carousel {
      margin: 0 -20px;
    }
  }
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

.page-description {
  margin: 2em 0;
}

.profile picture img {
  box-shadow: none !important;
  border: none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.25))
}


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
